.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 430px;
}
.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
    transition: 0.3s;
}
.menus button:hover{
    background-color: black;
    color: yellow;
    transform: scale(1.2);
    transition: 0.3s;
}
.news-img-size{
    max-width: 100%;
    max-height: 250px;
}
.news{
    border-bottom: 2px solid black;
    margin-top: 1em;
}
.search{
    display: inline;
    position: relative;
    top: 6vh;
    left: 2vw;
}
#search-input{
    border-radius: 10px 0 0 10px ;
    box-shadow: 1px 2px 5px;
    transition: 0.3s;
    width: 8vw;
    height: 3.3vh;
}
#search-input:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.gumButton{
    border-radius: 0 10px 10px 0 ;
    box-shadow: 1px 2px 5px;
    transition: 0.3s;
}
.gumButton:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
@media screen and (max-width:62rem) {
    #search-input{
        display: none;
    }
    .gumButton{
        display: none;
    }
    .head-line{
        margin-top: 3em;
    }
    .menus button{

        font-size: 170%;
        margin: 5px 0;
        padding: 1px 10px;
    }
}